@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}

body
{
    font-family: 'Manrope';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: var(--textDim);
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.menu:hover
{
    color: var(--text);  
    cursor: pointer;
}

.sitename
{
    font-weight: bold;
}

.grid
{
    position: absolute;
    height: 100%;
    
}